{% extends 'base.html' %}
{% block content %}
  <h1><span class="deep-orange-text">{{ material.name }}</span> Details&nbsp;&nbsp;🧱</h1>
  <h5 style='font-family: Lato'>&nbsp;&nbsp;&nbsp;&nbsp;Back to Materials&nbsp;&nbsp;<a class="hoverable deep-orange btn-small" href="{% url 'materials_index' %}">back</a><h5>
  <div class="row">
    <div class="col s6 col-offset-3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ material.name }}</span>
          {% for photo in material.materialphoto_set.all %}
            <img class="img card-panel" src="{{ photo.url }}" height="300">
          {% empty %}
            <form action="{% url 'add_material_photo' material.id %}" enctype="multipart/form-data" method="POST" class="card-panel">Add a Photo<br/><br/>
              {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="hoverable deep-orange btn-small" value="Upload Photo">
            </form>
          {% endfor %}
        </div>
        <div class="card-action">
          <a class="hoverable deep-orange btn-small" href="{% url 'materials_update' material.id %}">Edit</a>&nbsp;&nbsp;
          <a class="hoverable red darken-4 btn-small" href="{% url 'materials_delete' material.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}