{% extends 'base.html' %}
{% block content %}
  <h1>Building Material List&nbsp;&nbsp;🧱</h1>
  <h5 style='font-family: Lato'>&nbsp;&nbsp;&nbsp;&nbsp;Add a New Building Material&nbsp;&nbsp;<a class="green accent-3 btn-small" href="{% url 'materials_create' %}">Add New</a><h5>
  <div class="row">
    {% for material in material_list %}
      <div class="col s9">
        <div class="card">
          <div class="card-content">
              <span class="card-title">🔩&nbsp;&nbsp;{{ material.name }}</span>
              <a class="deep-orange btn"href="{% url 'materials_detail' material.id %}">Details</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}