{% extends 'base.html' %}
{% block content %}
  <h1 style='font-family: Lato'>Delete Building Material</h1>
  <h4 style='font-family: Lato'>Are you sure you want to delete <span class="deep-orange-text">{{ object.name }}</span>?</h4><br/>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Delete" class="hoverable red darken-4 btn">&nbsp;&nbsp;
    <a class="hoverable deep-orange btn" href="{% url 'materials_detail' object.id %}">Cancel</a>
  </form>
{% endblock %}