{% comment %} {% extends 'base.html' %}
{% block content %}

<h1>Project Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ project.title }}</span>
        <p>Location: {{ project.location }}</p>
        <p>Budget: ${{ project.budget }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'projects_update' project.id %}">Edit</a>
        <a href="{% url 'projects_delete' project.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s12">
    <h3>Tools for My Project</h3>

    {% if project.tools.count %}
      {% for tool in project.tools.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ tool.name }}</span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Tools Chosen Yet</h5>
    {% endif %}
  </div>
</div>
{% endblock %} {% endcomment %}