{% extends 'base.html' %}
{% block content %}
  <h1 style='font-family: Lato'>Tool Details&nbsp;&nbsp;🛠</h1>
  <h5 style='font-family: Lato'>&nbsp;&nbsp;&nbsp;&nbsp;Back to Tools&nbsp;&nbsp;<a class="deep-orange btn-small" href="{% url 'tools_index' %}">back</a><h5>
  <div class="row">
    <div class="col s6 col-offset-3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ tool.name }}</span>
          <p>Power: {{ tool.get_power_display }}</p><br/>
          {% for photo in tool.photo_set.all %}
            <img class="responsive-img card-panel" src="{{photo.url}}">
          {% empty %}
            <form action="{% url 'add_tool_photo' tool.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
              {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="deep-orange btn-small" value="Upload Photo">
            </form>
          {% endfor %}
        </div>
        <div class="card-action">
          <a class="deep-orange btn-small" href="{% url 'tools_update' tool.id %}">Edit</a>
          <a class="red darken-4 btn-small" href="{% url 'tools_delete' tool.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}