{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MyToolbox</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper indigo darken-4">
        <ul>
          <li>&nbsp;&nbsp;&nbsp;<a href="/" class="left deep-orange-text brand-logo">MyToolbox</a></li>
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
            <li><a href="{% url 'tools_create' %}">Add a New Tool</a></li>
            <li><a href="{% url 'tools_index' %}">View All Tools</a></li>
            <li><a href="{% url 'projects_create' %}">New Project</a></li>
            <li><a href="{% url 'projects_index' %}">My Projects</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer indigo darken-4">
    <div class="right">All Rights Reserved, &copy; 2021 Matt Packer &nbsp;</div>
  </footer>
</body>
</html>