{% extends 'base.html' %}
{% load static %}
{% block content %}

<br/><br/><br/>

<div class="center">
  <img class="logo" src={% static "images/MyToolbox_Logo_Transparent_v2.png" %} height="250">
</div>
<h1 style='font-family: Lato' class='center'>
  Welcome to MyToolbox!
</h1>
<h5 style='font-family: Lato'  class='center'>
  Your Home Renovation Project Tracker
</h5>
<hr />
<ul class='center'>
  <li><a class="waves-effect deep-orange waves-light btn" href="{% url 'login' %}">log in</a></li><br/>
  <li><span>Need to create an account? <a class="" href="{% url 'signup' %}">Sign Up</a><span></li>
</ul>

{% endblock %}