{% extends 'base.html' %}
{% load static %}
{% block content %}
  <br/><br/><br/>
  <div class="center">
    <img class="logo" src={% static "images/MyToolbox_Logo_Transparent_v2.png" %} height="250">
  </div>
  <h1 style='font-family: Lato' class='center'>
    Welcome to MyToolbox!
  </h1>
  <h5 style='font-family: Lato'  class='center'>
    Your Home Renovation Project Tracker
  </h5><br/>
  <hr/><br/>
  <ul class='center'>
    <li><a class="waves-effect green accent-3 waves-light btn" href="{% url 'projects_create' %}">Start a New Project</a></li><br/>
    <li><a class="waves-effect deep-orange waves-light btn" href="{% url 'projects_index' %}">&nbsp;&nbsp;&nbsp;View My Projects&nbsp;&nbsp;&nbsp;</a></li>
  </ul>
{% endblock %}