{% extends 'base.html' %}
{% block content %}
  <h1 style='font-family: Lato'>Project Details&nbsp;&nbsp;🏗</h1>
  <h5 style='font-family: Lato'>&nbsp;&nbsp;&nbsp;&nbsp;Back to My Projects&nbsp;&nbsp;<a class="deep-orange btn-small" href="{% url 'projects_index' %}">back</a><h5>
  <div class="row">
    <div class="col s12 col-offset-3">
      <div class="card">
        <div class="card-content">
          <span class="card-title">🗒&nbsp;&nbsp;{{ project.title }}</span>
          <p>Location: {{ project.location }}</p>
          <p>Budget: ${{ project.budget }}</p>
          <p>Status: {{ project.get_status_display }}</p>
        </div>
        <div class="card-action">
          <a class="deep-orange btn" href="{% url 'projects_update' project.id %}">Edit</a>&nbsp;
          <a class="red darken-4 btn" href="{% url 'projects_delete' project.id %}">Delete</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s6">
      <h3 style='font-family: Lato'>Tools&nbsp;&nbsp;🧰</h3>
      <table class='striped'>
        <thead>
          <tr>
            <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th>Power Type&nbsp;&nbsp;&nbsp;</th>
            <th></th>
            <th>Selected</th>
            <th></th>
        </thead>
        <tbody>
          {% for tool in project.tools.all %}
            <tr>
              <td>{{ tool.name }}</td>
              <td>{{ tool.get_power_display }}</td>
              <td>
                <img class="" src={{ tool.image }} height="50">
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&check;</td>
              <td>
                <form action="{% url 'unassoc_tool' project.id tool.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="red darken-4 btn-small">remove</button>
                </form>
              </td>
            </tr>
          {% endfor %}
          {% for tool in tools.all %}
            <tr>
              <td>{{ tool.name }}</td>
              <td>{{ tool.get_power_display }}</td>
              <td>
                <img class="" src={{ tool.image }} height="50">
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>
                <form action="{% url 'assoc_tool' project.id tool.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="green accent-3 btn-small">&nbsp;&nbsp;&nbsp;add&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col s6">
      <h3 style='font-family: Lato'>Materials&nbsp;&nbsp;🧱</h3>
      <table class='striped'>
        <thead>
          <tr>
            <th>Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            <th></th>
            <th>Selected</th>
            <th></th>
        </thead>
        <tbody>
          {% for material in project.materials.all %}
            <tr>
              <td>{{ material.name }}</td>
              <td>
                <img class="" src={{ material.image }} height="50">
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&check;</td>
              <td>
                <form action="{% url 'unassoc_material' project.id material.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="red darken-4 btn-small">remove</button>
                </form>
              </td>
            </tr>
          {% endfor %}
          {% for material in materials.all %}
            <tr>
              <td>{{ material.name }}</td>
              <td>
                <img class="" src={{ material.image }} height="50">
              </td>
              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td>
                <form action="{% url 'assoc_material' project.id material.id %}" method="POST">
                  {% csrf_token %}
                    <button type="submit" class="green accent-3 btn-small">&nbsp;&nbsp;&nbsp;add&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <hr>
{% endblock %}